.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  // background-color: #1f2b21;
  z-index: 1;
}

.no_scroll {
  overflow: hidden;
}

.modalContent {
  // padding: 20px;
  border-radius: 8px;
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
  scrollbar-width: none;
  cursor: pointer;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.block_img {
  padding: 20px;
  display: flex;
  gap: 30px;
  justify-content: center;
  background: #1f2b21;
  overflow: hidden;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.headerContainer {
  display: flex;
  justify-content: center;
  background: #1f2b21;
  color: white;
}

.mainContainer {
  background-color: #1f2b21;
  margin-bottom: 20px;
}

.hederTitle {
  color: #546a58;
}

:global(.slick-dots) {
  background-color: #1f2b21 !important;
  color: #1f2b21;
  padding: 0px 0px 20px 0px !important;
}

.block_imgModal {
  //   width: 100%; /* или другой нужный вам размер */
  //   height: 100%; /* или другой нужный вам размер */
  display: flex !important;
  justify-content: center;
  align-items: center; /* центрирование изображения внутри блока */
  position: relative; /* для позиционирования текста */
  margin-bottom: 20px;
}

.block_imgModal img {
  width: 200px;
  height: 300px;
  object-fit: cover; /* или 'contain', в зависимости от ваших предпочтений */
  border-radius: 20px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out; /* плавный переход для прозрачности */
}

.block_imgModal span {
  position: absolute;
  color: white; /* цвет текста */
  font-size: 24px; /* размер текста */
  font-weight: bold; /* жирность текста */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* тень для лучшей читаемости */
  bottom: 40px; /* расстояние от нижнего края блока */
  left: 50%;
  transform: translateX(-50%); /* центрирование по горизонтали */
  cursor: pointer;
  transition: color 0.3s ease-in-out; /* плавный переход для цвета */
}

.block_imgModal img:hover {
  opacity: 1; /* при наведении на изображение делаем его полностью непрозрачным */
}

.block_textModal {
  font-family: Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.block_img-modal img:hover + span {
  color: white; /* изменяем цвет текста при наведении на изображение */
}

.block_textTitle {
  font-family: 'Times New Roman', Times, serif;
}

.modal_image {
  width: 100%;
  height: auto;
  height: 300px;
}

.block_descriptionCard {
  padding: 16px;
}

:global(.slick-next) {
  display: none !important  ;
}

.title_description {
  margin-top: 0px;
  margin-bottom: 10px;
}

.block_modalCard {
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 400px;
  width: 100%;
  cursor: default;
}

.block_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.block_cards.single-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cl_btn_3 {
  width: 26px;
  height: 26px;
  margin: 40px auto;
  position: relative;
  transform: rotate(45deg) scale(2);
}

.cl_btn_3 .top,
.cl_btn_3 .bot {
  display: block;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-iteration-count: 1;
}

.cl_btn_3 .top {
  height: 100%;
  width: 2px;
  margin-left: -1px;
  transform: skewY(45deg);
  top: 0;
}

.cl_btn_3 .bot {
  width: 100%;
  height: 2px;
  margin-top: -1px;
  transform: skewX(-45deg);
  left: 0;
}

.block_benifits {
  display: flex;
  gap: 5px;
}

.block_benifit {
  border: 2px solid black; /* Устанавливает обводку вокруг блока */
  padding: 10px; /* Добавляет внутренние отступы */
  display: inline-block; /* Делает блок по размеру контента */
  border-radius: 20px;
  margin-top: 10px;
}

@-webkit-keyframes top-out {
  from {
    top: 0%;
    height: 100%;
  }
  to {
    top: 200%;
    height: 0%;
  }
}

@keyframes top-out {
  from {
    top: 0%;
    height: 100%;
  }
  to {
    top: 200%;
    height: 0%;
  }
}
@-webkit-keyframes top-in {
  from {
    top: -100%;
    height: 0%;
  }
  to {
    top: 0%;
    height: 100%;
  }
}
@keyframes top-in {
  from {
    top: -100%;
    height: 0%;
  }
  to {
    top: 0%;
    height: 100%;
  }
}
@-webkit-keyframes bot-out {
  from {
    left: 0%;
    width: 100%;
  }
  to {
    left: 200%;
    width: 0%;
  }
}
@keyframes bot-out {
  from {
    left: 0%;
    width: 100%;
  }
  to {
    left: 200%;
    width: 0%;
  }
}
@-webkit-keyframes bot-in {
  from {
    left: -100%;
    width: 0%;
  }
  to {
    left: 0%;
    width: 100%;
  }
}
@keyframes bot-in {
  from {
    left: -100%;
    width: 0%;
  }
  to {
    left: 0%;
    width: 100%;
  }
}
.cl_btn_3:hover {
  cursor: pointer;
}
.cl_btn_3:hover .top {
  animation: top-out 0.25s forwards, top-in 0.25s forwards 0.25s;
}
.cl_btn_3:hover .bot {
  animation: bot-out 0.25s forwards 0.1s, bot-in 0.25s forwards 0.35s;
}

.container_button_more {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

// кнопка еще
.button_more {
  background-color: #1f2b21; /* Зеленый фон */
  border: none; /* Убираем границу */
  color: white; /* Белый текст */
  padding: 15px 32px; /* Отступы внутри кнопки */
  text-align: center; /* Текст по центру */
  text-decoration: none; /* Убираем подчеркивание текста */
  display: inline-block; /* Строчно-блочный элемент */
  font-size: 16px; /* Размер шрифта */
  margin: 4px 2px; /* Внешние отступы */
  cursor: pointer; /* Курсор в виде руки при наведении */
  border-radius: 12px; /* Скругленные углы */
  transition: background-color 0.3s ease; /* Плавный переход цвета фона */
}

.button_more:hover {
  background-color: #45a049; /* Темно-зеленый фон при наведении */
}

.arrow_7 {
  position: fixed; /* Фиксированное позиционирование */
  bottom: 10px; /* Расположить у нижнего края экрана */
  left: 50%; /* Центрировать по горизонтали */
  transform: translateX(
    -50%
  ); /* Сдвинуть влево на 50% ширины, чтобы центрировать */
  width: 38px;
  height: 100px;
  z-index: 99999999999;
  display: flex; /* Используем Flexbox для вертикального расположения элементов */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.arrow_7 span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #1f2b21;
  border-right: 5px solid #1f2b21;
  transform: rotate(45deg);
  margin: -16px 0;
  animation: arrow_7 2s infinite;
}

.arrow_7 span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow_7 span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes arrow_7 {
  0% {
    opacity: 0;
    transform: translate(0, -20px) rotate(45deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(0, 20px) rotate(45deg);
  }
}

:global(.slick-dots li button) {
  // background-color: rgb(255, 0, 0); /* Устанавливает цвет фона белым */
  border: none; /* Убирает границу кнопки */
  width: 10px; /* Задайте нужный размер точки */
  height: 10px;
  border-radius: 50%; /* Делает кнопку круглой */
  cursor: pointer; /* Изменяет курсор при наведении */
  outline: none; /* Убирает обводку при фокусе */
}

:global(.slick-dots li.slick-active button) {
  background-color: #546a58;
  // color: #546a58;
  /* Цвет активной точки */
}

.bottom_left_icon {
  position: absolute; /* или relative, если родительский элемент имеет position: relative */
  bottom: 0;
  left: 0;
  /* Дополнительные настройки */
  width: 300px; /* Установите нужный размер */
  height: 300px; /* Сохранение пропорций */
}
