@import '../../../variables.scss';

:global(.ReactModal__Content--after-open) {
  padding: 0px !important;
  border: none !important;
  background: none !important;
}

.carusel {
  display: flex;
  gap: 10px;
}

.carouselWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Добавьте это, чтобы скрыть лишнее */
  gap: 10px;
}

.gallery {
  overflow: hidden;
  width: 780px; /* Это должно быть кратно ширине одного элемента */
}

.carouselList {
  display: flex;
  transition: transform 0.5s ease;
  padding: 0;
  margin: 0;
}

.carouselItem {
  list-style: none;
  padding: 20px;
  background-color: #546a58;
  margin-right: 10px;
  box-sizing: border-box; /* Включает padding и border в общую ширину */
}

.certificateContainer {
  height: 150px;
  overflow: hidden;
  margin: 10px;
  display: inline-block;
  cursor: pointer;
}

.certificateImage {
  height: 100%;
  object-fit: cover;
}

.arrow {
  cursor: pointer;
  transform: rotate(90deg);
  width: 150px;
  height: 150px;
  color: #546a58;

  @media (min-width: $v-lg){
    width: 50px;
    height: 50px;
  }
}

.arrow2 {
  cursor: pointer;
  transform: rotate(-90deg);
  width: 150px;
  height: 150px;
  color: #546a58;

  @media (min-width: $v-lg){
    width: 50px;
    height: 50px;
  }
}

.progressBarContainer {
  display: flex;
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали, если нужно */
  height: 10px; /* Увеличенная высота для лучшей видимости */
  background-color: #546a58;
  border-radius: 5px; /* Закругленные углы */
  width: 80%; /* Ширина контейнера относительно родителя */
  margin: 20px auto; /* Отступы и центрирование по горизонтали */
}

.progressBar {
  height: 100%;
  background-color: #1f2b21; /* Цвет заполненной части */
  border-radius: 5px; /* Закругленные углы */
  transition: width 0.3s ease;
}

.title {
  display: flex;
  justify-content: center;
  color: #546a58;
  padding: 20px;
}
