.navbar_block {
  background-color: #546a58;
  // height: 200px;
}

.navbar_block-content {
  display: flex;
  justify-content: center;
  gap: 30px;
  justify-content: space-evenly;
}

.navbar_button {
  cursor: pointer;
  color: white;
}

.main_img {
  width: 200px;
  height: 200px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.text {
  width: 66.67%; /* 2/3 of the width */
  padding-right: 10px; /* Optional spacing between text and image */
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
}

.image {
  width: 33.33%; /* 1/3 of the width */
}

img {
  width: 100%;
  height: auto;
}


.navbar_container {
  background-color: #546a58;
}

.img_heder {
  width: 33.33%;
}